{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="splashDiv">
</div>

<header>
  <div class="title">
    <h1>Sneaker Couture</h1>
  </div>
  <nav>
    <div class="dropdown navB">
        <a href="/newShoe"><button>New Shoe</button></a>
    </div>
    <div class="dropdown navB">
      <a class="changeIterationThree"><i class="fa fa-th-large fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="dropdown navB">
      <a class="changeIterationFive"><i class="fa fa-th fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="dropdown navB">
      <button onclick="myFunction()" class="dropbtn">Search</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="lowToHigh">Low to High</a>
        <a href="highToLow">High to Low</a>
      </div>
    </div>
  </nav>
</header>

<!-- USING NUNJUCKS!!!!  -->
<div class="container">
{% for shoe in shoes %}
  <section class="iteration">
    <a href="thisShoe/{{shoe.id}}">
    <img src="{{shoe.image_url}}" alt="">
    <p class='hoverName'>{{shoe.name}}hhheeelllooo</p>
    <div class="info">
      <h3>{{shoe.name}}</h3>
      <p>Price: ${{shoe.price}}</p>
      <p>Size: {{shoe.size}}</p>
      <p>Decription: {{shoe.description}}</p>
      <p>Condition: {{shoe.condition}}</p>
    </div>
    </a>
  </section>
{% endfor %}
</div>

{% endblock %}
