{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="splashDiv">
</div>
<header>
  <h1>Sneaker Couture</h1>
    <a href="/newShoe"><button>New Shoe</button></a>
    <button class="changeIterationThree">- - -</button>
    <button class="changeIterationFive">- - - - -</button>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="lowToHigh">You a Scrub</a>
      <a href="highToLow">Rich BEEEOOTCHH</a>
    </div>
  </div>
</header>

<!-- USING NUNJUCKS!!!!  -->
<div class="container">
{% for shoe in shoes %}
  <section class="iteration">
    <a href="thisShoe/{{shoe.id}}">
    <img src="{{shoe.image_url}}" alt="">
    <div class="info">
      <h3>{{shoe.name}}</h3>
      <p>Price: ${{shoe.price}}</p>
      <p>Size: {{shoe.size}}</p>
      <p>Decription: {{shoe.description}}</p>
      <p>Condition: {{shoe.condition}}</p>
    </div>
    </a>
  </section>
{% endfor %}
</div>

{% endblock %}
