<div class="container">
  <form class="newShoeForm" method="POST" action="/newShoe">
    <h3>Add Shoe</h3></br>
    <label for="name">Shoe Name: </label>
    <input type="text" name="name" id="name"/></br>
    <label for="price">Shoe Price: </label>
    <input type="number" name="price" id="price"/></br>
    <label for="image_url">Shoe Image: </label>
    <input type="text" name="image_url" id="image_url"/></br>
    <label for="description">Shoe Description: </label>
    <input type="text" name="description" id="description"/></br>
    <label for="size">Shoe Size: </label>
    <input type="number" name="size" id="size"/></br>
    <label for="condition">Shoe Condition: </label>
    <input type="text" name="condition" id="condition"/></br>
    <button type="submit">Create</button>
  </form>
</div>
