body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  max-width: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.table {
  display: inline-block;
}

.iteration {
  display: flex;
}

a {
  text-decoration: none;
}
